/* style sheet */

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 0px;
    background-color: #502b4e;
    color: #E5E7EB;
    flex: 0;
}

.header img{
    height: 50px;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 8px 16px;
}

.hero-img img {
    display: flex;
    width: 250px;
    flex: 2;
}

.hero-text{
    flex-shrink: 1;
    flex-grow: 0;
}

.zero{
    background-color: #502b4e;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 16px 32px;
    align-items: center;
    gap: 12px;
}

.info-imgs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-imgs div img{
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: #502b4e;
    border-radius: 5px;
}

.info-imgs div p{
    font-size: 12px;
}

.zero h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.zero p{
    font-size: 18px;
    color: #E5E7EB;
}

.info-imgs{
    display: flex;
    justify-content: space-around;
    margin: 8px 32px;
    gap: 16px;
}
.one,
.three{
    background-color: white;
}

.two{
    background-color: #E5E7EB;
}

.one{
    text-align: center;
    justify-content: space-between;
    gap: 32px;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 52px;
    margin: 0;
}

.quote{
    font-size: 36px;
    color: #371f36;
    font-style: italic;
    font-weight: light;
}

.quotee{
    align-self: flex-end;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa38f6;
    margin: 32px;
    border-radius: 8px;
    color: #f9faf8;
    justify-content: space-around;
}

.cta-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.cta-body{
    font-size: 18px;
    margin-top: 4px;
}

.energy-btn{
    background-color: #aa38f6;
    border: #f9faf8 solid;
    border-width: 1px;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
}

.footer{
    text-align: center;
    margin: 0;
    background-color: #502b4e;
    color: #E5E7EB;
    font-size: 18px;
}